.icon-menu1{
	background:url('myicons/medal_bronze_1.png') no-repeat center center;
}
.icon-menu2{
	background:url('myicons/medal_bronze_2.png') no-repeat center center;
}
.icon-menu3{
	background:url('myicons/medal_bronze_3.png') no-repeat center center;
}
.icon-menu4{
	background:url('myicons/medal_gold_3.png') no-repeat center center;
}
.icon-menu5{
	background:url('myicons/medal_silver_1.png') no-repeat center center;
}
.icon-menu6{
	background:url('myicons/medal_silver_2.png') no-repeat center center;
}
.icon-menu7{
	background:url('myicons/medal_silver_3.png') no-repeat center center;
}