<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.zihexin.user.mapper.UserMapper">
   <!-- <resultMap id="BaseResultMap" type="com.zihexin.user.entity" >
        <id column="userID" property="userID" jdbcType="INTEGER" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="userPassword" property="userPassword" jdbcType="VARCHAR" />
    </resultMap>-->
    <!--<resultMap id="ResultMapWithBLOBs" type="com.zihexin.user.entity" extends="BaseResultMap" >
        <result column="dbqkms" property="dbqkms" jdbcType="LONGVARCHAR" />
    </resultMap>-->

    <!--<select id="queryLogin" parameterType="com.zihexin.user.entity" resultMap="BaseResultMap">
        select * from users where username=#{usernName} and userPassword=#{userPassword}

    </select>
-->
</mapper>   